In [1]:
# prepare the environment
import pandas as pd
import nltk 
import re
import numpy as np
import itertools
import matplotlib.pyplot as plt
import statsmodels.api as sm
import statsmodels.formula.api as smf
import warnings
warnings.filterwarnings('ignore')

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

##**ad 8 processing**##

In [5]:
#import the data
ad8_initial = pd.read_csv("8-tcga.tsv", sep='\t')
#ad8_initial.head(5)

In [9]:
#adding nonexist columns as nan
NaN = np.nan
ad8_initial["Survival Stage"] = NaN
ad8_initial["Person Cigarette Smoking History Pack Year Value"] = NaN
ad8_initial["T Stage"] = NaN

In [11]:
#select needed columns
ad8 = ad8_initial[['Cancer Type Detailed','Mutation Count','Fraction Genome Altered',
                   'Diagnosis Age','Sex','Survival Stage','T Stage','Somatic Status',
                   'Person Cigarette Smoking History Pack Year Value','TMB (nonsynonymous)']]

In [12]:
#rename the columns
ad8.rename(
    columns={"Smoker":"Smoking History",
                "TMB (nonsynonymous)":"TMB Nonsynonymous"}
          ,inplace=True)
ad8

,Cancer Type Detailed,Mutation Count,Fraction Genome Altered,Diagnosis Age,Sex,Survival Stage,T Stage,Somatic Status,Person Cigarette Smoking History Pack Year Value,TMB Nonsynonymous
0,Lung Adenocarcinoma,191.0,0.4565,70.0,Male,NaN,NaN,Matched,NaN,6.400000
1,Lung Adenocarcinoma,300.0,0.2221,67.0,Male,NaN,NaN,Matched,NaN,10.000000
2,Lung Adenocarcinoma,315.0,0.2362,79.0,Female,NaN,NaN,Matched,NaN,10.500000
3,Lung Adenocarcinoma,1549.0,0.0854,68.0,Male,NaN,NaN,Matched,NaN,51.733333
4,Lung Adenocarcinoma,118.0,0.0661,66.0,Male,NaN,NaN,Matched,NaN,3.966667
...,...,...,...,...,...,...,...,...,...,...
561,Lung Adenocarcinoma,124.0,0.0194,56.0,Female,NaN,NaN,Matched,NaN,4.133333
562,Lung Adenocarcinoma,232.0,0.0760,67.0,Male,NaN,NaN,Matched,NaN,7.700000
563,Lung Adenocarcinoma,27.0,0.4205,49.0,Male,NaN,NaN,Matched,NaN,0.900000
564,Lung Adenocarcinoma,154.0,0.5443,74.0,Female,NaN,NaN,Matched,NaN,5.100000
565,Lung Adenocarcinoma,103.0,0.0598,68.0,Female,NaN,NaN,Matched,NaN,3.433333

##**ad 9 processing**##

In [8]:
#import the data
ad9_initial = pd.read_csv("9-tcga.tsv", sep='\t')
#ad9_initial.head(5)

In [13]:
#adding nonexist columns as nan
ad9_initial["Survival Stage"] = NaN
ad9_initial["Fraction Genome Altered"] = NaN
ad9_initial["T Stage"] = NaN

In [16]:
#select needed columns
ad9 = ad9_initial[['Cancer Type Detailed','Mutation Count','Fraction Genome Altered',
                   'Diagnosis Age','Sex','Survival Stage','T Stage','Somatic Status',
                   'TMB (nonsynonymous)']]

In [17]:
#rename the columns
ad9.rename(
    columns={"TMB (nonsynonymous)":"TMB Nonsynonymous"}
          ,inplace=True)
ad9

,Cancer Type Detailed,Mutation Count,Fraction Genome Altered,Diagnosis Age,Sex,Survival Stage,T Stage,Somatic Status,TMB Nonsynonymous
0,Lung Adenocarcinoma,297,NaN,67.0,Male,NaN,NaN,Matched,9.900000
1,Lung Adenocarcinoma,1319,NaN,68.0,Male,NaN,NaN,Matched,44.033333
2,Lung Adenocarcinoma,122,NaN,66.0,Male,NaN,NaN,Matched,4.033333
3,Lung Adenocarcinoma,228,NaN,70.0,Male,NaN,NaN,Matched,7.633333
4,Lung Adenocarcinoma,505,NaN,58.0,Female,NaN,NaN,Matched,16.800000
...,...,...,...,...,...,...,...,...,...
225,Lung Adenocarcinoma,398,NaN,83.0,Female,NaN,NaN,Matched,13.333333
226,Lung Adenocarcinoma,419,NaN,65.0,Male,NaN,NaN,Matched,13.933333
227,Lung Adenocarcinoma,338,NaN,76.0,Female,NaN,NaN,Matched,11.266667
228,Lung Adenocarcinoma,81,NaN,72.0,Female,NaN,NaN,Matched,2.700000
229,Lung Adenocarcinoma,421,NaN,74.0,Female,NaN,NaN,Matched,14.000000

##**ad 10 processing**##

In [7]:
#import the data
ad10_initial = pd.read_csv("10-tsp.tsv", sep='\t')
#ad10_initial.head(5)

In [18]:
#adding nonexist columns as nan
ad10_initial["Survival Stage"] = NaN
ad10_initial["Fraction Genome Altered"] = NaN
ad10_initial["T Stage"] = NaN

In [20]:
#select needed columns
ad10 = ad10_initial[['Cancer Type Detailed','Mutation Count','Fraction Genome Altered',
                   'Survival Stage','T Stage','Somatic Status',
                   'TMB (nonsynonymous)']]

In [21]:
#rename the columns
ad10.rename(
    columns={"TMB (nonsynonymous)":"TMB Nonsynonymous"}
          ,inplace=True)
ad10

,Cancer Type Detailed,Mutation Count,Fraction Genome Altered,Survival Stage,T Stage,Somatic Status,TMB Nonsynonymous
0,Lung Adenocarcinoma,1,NaN,NaN,NaN,Matched,0.033333
1,Lung Adenocarcinoma,3,NaN,NaN,NaN,Matched,2.173148
2,Lung Adenocarcinoma,11,NaN,NaN,NaN,Matched,7.968208
3,Lung Adenocarcinoma,1,NaN,NaN,NaN,Matched,0.724383
4,Lung Adenocarcinoma,13,NaN,NaN,NaN,Matched,9.416973
...,...,...,...,...,...,...,...
158,Lung Adenocarcinoma,4,NaN,NaN,NaN,Matched,2.897530
159,Lung Adenocarcinoma,5,NaN,NaN,NaN,Matched,3.621913
160,Lung Adenocarcinoma,2,NaN,NaN,NaN,Matched,1.448765
161,Lung Adenocarcinoma,3,NaN,NaN,NaN,Matched,2.173148
162,Lung Adenocarcinoma,5,NaN,NaN,NaN,Matched,3.621913

##**Concate 3 datasets**##

In [22]:
ad_pt4 = pd.concat([ad8,ad9,ad10])
ad_pt4

,Cancer Type Detailed,Mutation Count,Fraction Genome Altered,Diagnosis Age,Sex,Survival Stage,T Stage,Somatic Status,Person Cigarette Smoking History Pack Year Value,TMB Nonsynonymous
0,Lung Adenocarcinoma,191.0,0.4565,70.0,Male,NaN,NaN,Matched,NaN,6.400000
1,Lung Adenocarcinoma,300.0,0.2221,67.0,Male,NaN,NaN,Matched,NaN,10.000000
2,Lung Adenocarcinoma,315.0,0.2362,79.0,Female,NaN,NaN,Matched,NaN,10.500000
3,Lung Adenocarcinoma,1549.0,0.0854,68.0,Male,NaN,NaN,Matched,NaN,51.733333
4,Lung Adenocarcinoma,118.0,0.0661,66.0,Male,NaN,NaN,Matched,NaN,3.966667
...,...,...,...,...,...,...,...,...,...,...
158,Lung Adenocarcinoma,4.0,NaN,NaN,NaN,NaN,NaN,Matched,NaN,2.897530
159,Lung Adenocarcinoma,5.0,NaN,NaN,NaN,NaN,NaN,Matched,NaN,3.621913
160,Lung Adenocarcinoma,2.0,NaN,NaN,NaN,NaN,NaN,Matched,NaN,1.448765
161,Lung Adenocarcinoma,3.0,NaN,NaN,NaN,NaN,NaN,Matched,NaN,2.173148
162,Lung Adenocarcinoma,5.0,NaN,NaN,NaN,NaN,NaN,Matched,NaN,3.621913

In [23]:
ad_pt4.to_csv('Combined_ad_data.csv')

##**data analysis**##

In [24]:
ad_pt4.groupby('Cancer Type Detailed').count()

,Mutation Count,Fraction Genome Altered,Diagnosis Age,Sex,Survival Stage,T Stage,Somatic Status,Person Cigarette Smoking History Pack Year Value,TMB Nonsynonymous
Cancer Type Detailed,,,,,,,,,
Lung Adenocarcinoma,954,500,702,737,0,0,959,0,959

In [25]:
ad_pt4[['Cancer Type Detailed', 'Mutation Count','Diagnosis Age','TMB Nonsynonymous']].groupby('Cancer Type Detailed').mean()

                      Mutation Count  Diagnosis Age  TMB Nonsynonymous
Cancer Type Detailed
Lung Adenocarcinoma       224.342767      65.531339           8.587089

In [26]:
ad_pt4.groupby(['Cancer Type Detailed','Sex']).size()

Cancer Type Detailed  Sex
Lung Adenocarcinoma   Female    400
                      Male      337
dtype: int64